@media screen and (min-width:1537px) {
  html {
    font-size: 22px;
  }

  main,
  header,
  footer {
    max-width: 1537px;
    margin: auto;
  }
  .about-us_red-text {
    width: 10rem;
  }
  .about-us_red-text p {
    /* text-align: right; */
    font-weight: lighter;
    font-size: 40px;
    color: rgba(255, 0, 0, 0.821);
    line-height: 1.3;
  }

}

@media (max-width: 950px) {
  header {
    height: 85vh;
  }
}

@media(max-width:809px) {
  .float-left {
    width: fit-content;

  }
  nav ul li a{
    font-size: 1rem;
  }
}


@media (max-width: 745px) {
  #check-button {
    display: block;
  }

  nav ul {
    width: 100%;
    height: 50vh;
    position: absolute;
    top: 5rem;
    left: -100%;
    transition: 0.5s;
    background-color: rgb(6, 3, 41);
    z-index: 2;
  }

  nav ul li {
    display: block;
    text-align: center;
    line-height: 3rem;
    margin: 1rem;
  }
}

@media (max-width:768px) {
  #stats {

    justify-content: center;
  }
  #about-us {
    flex-direction: column;
  }
}



@media (max-width: 650px) {
  #banner-text h1 {
    font-size: 4rem;
  }

  #banner-text p {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }

}

@media (max-width: 600px) {
  header {
    height: 80vh;
  }

}

@media(max-width:540px) {
  #stats {
    flex-direction: column;
    text-align: center;
  }

  .stats-text {
    margin-bottom: 1rem;

  }
}

@media (max-width: 505px) {
  header {
    height: 65vh;
  }

  #banner-text h1 {
    font-size: 3rem;
  }

  .about-stats-heading span {
    width: 3rem;
  }

  .about-stats-heading h2 {
    font-size: 2.7rem;
  }
}

@media (max-width: 400px) {
  header {
    height: 65vh;
  }

  .logo {
    padding: 0;
  }

  label.brand-name {
    margin: 0;
    font-size: 2rem;
  }

  .about-stats-heading h2 {
    font-size: 3rem;
  }

  .about-stats-heading span {
    height: 0.2rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 340px) {
  header {
    height: 60vh;
  }

  .about-us_para {
    width: 15rem;
  }
}